@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

$dark-blue: #0A2756;
$blue: #007DFE;
$white: #FFFFFF;
$base: 0.6rem;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.header {
	height: 65px;
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 1240px;
	margin: 0 auto;

	.btn-menu {
		opacity: 0;
		visibility: hidden;
	}

	&__logo {
		text-decoration: none;
		width: 16%;
		display: flex;
		font-size: 29px;
		line-height: 35px;
		color: $dark-blue;
		font-weight: 400;
		position: relative;
		justify-content: end;

		&::after {
			content: "";
			position: absolute;
			height: 42px;
			width: 1px;
			background: #C4C4C4;
			left: 221px;
			top: -3px;
		}
	}
}

.burger-menu {
	display: flex;
	width: 85%;
	justify-content: center;

	.header-menu {
		width: 73%;

		&__list {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			align-items: center;

			a {
				text-decoration: none;
				color: $dark-blue;
			}
		}

		&__btn {
			color: $blue;
			padding: 8px 32px;
			border: 1px solid $blue;
			cursor: pointer;
			background: $white;
		}
	}

	.link {
		display: flex;
		align-items: center;
		width: 17%;
		justify-content: space-between;
		padding-left: 121px;

		&__mail {
			background-image: url('../images/mail.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 25px;
			height: 19px;
		}

		&__facebook {
			background-image: url('../images/facebook.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 16px;
			height: 26px;
		}
	}
}




.container {
	width: 1240px;
	height: 933px;
	margin: 0 auto;
	background-color: $dark-blue;

	.main {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 32px 38px 162px 168px;

		&__title {
			background-image: url('../images/title.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 535px;
			height: 300px;
			margin-top: 37px;
		}

		&__icon {
			background-image: url('../images/title-icon.svg');
			background-repeat: no-repeat;
			background-size: contain;
			width: 397px;
			height: 361px;
			margin-left: 102px;
		}

		&__btn {
			font-weight: 700;
			display: inline-block;
			background-color: #007DFE;
			border: 1px solid #007DFE;
			padding: 26px 50px;
			font-size: 14px;
			color: #FFFFFF;
			letter-spacing: 8.2px;
			text-transform: uppercase;
			cursor: pointer;
			margin-top: 41px;
			margin-left: 54px;
		}

		&__text {
			color: $white;
			display: flex;
			flex-direction: column;
			margin-top: 38px;
			margin-left: 53px;
			max-width: 521px;

			&--title {
				font-size: 20px;
				font-weight: 700;
				line-height: 24px;
			}

			&--content {
				font-size: 18px;
				margin-top: 33px;
				line-height: 25px;
				max-width: 500px;
			}
		}

		.btn-bottom {
			opacity: 1;
			visibility: visible;
			position: absolute;
			height: 33px;
			width: 93px;
			bottom: 61px;
			right: 572px;
			cursor: pointer;

			&::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 52px;
				background-color: #FFFFFF;
				transform: rotate(33deg);
				left: -1px;
				top: 16px;
				bottom: 0;
			}

			&::before {
				content: '';
				position: absolute;
				height: 2px;
				width: 52px;
				background-color: #FFFFFF;
				transform: rotate(327deg);
				left: 41px;
				top: 16px;
				bottom: 0;
			}
		}
	}
}

.gallery {
	width: 1240px;
	margin: 0 auto;
	position: relative;

	&__title {
		font-size: 60px;
		font-weight: 400;
		padding-left: 222px;
		margin-bottom: 58px;
		margin-top: 78px;
		color: $dark-blue;
	}

	&__photo {
		&--item {
			background-image: url('../images/Yaron_Pharizon.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			height: 376px;
			width: 378px;
		}
	}

	.gallery-container {
		display: flex;
		height: 100%;
		align-items: end;
	}

	&__text {
		display: flex;
		flex-direction: column;
		font-size: 24px;
		color: #FFFFFF;
		width: 100%;
		height: 111px;
		background-color: #0080FFB2;
		justify-content: space-evenly;
		padding-left: 30px;

		&:nth-of-type(0) {
			font-size: 20px;
		}
	}

	.swiper {
		position: static;
		max-width: 800px;

		.swiper-button-next {
			position: absolute;
			background-image: url('../images/slider-right.svg');
			background-repeat: no-repeat;
			height: 89px;
			width: 30px;
			right: 121px;
			top: 283px;

			&::after {
				content: '';
			}
		}

		.swiper-button-prev {
			position: absolute;
			background-image: url('../images/slider-left.svg');
			background-repeat: no-repeat;
			height: 87px;
			width: 32px;
			left: 125px;
			top: 283px;

			&::after {
				content: '';
			}
		}

		.swiper-pagination {
			bottom: -62px;
		}

		.swiper-pagination-bullet {
			width: 13px;
			height: 13px;
			margin: 0 18px;
		}

		.swiper-pagination-bullet-active {
			background-color: $dark-blue;
		}
	}
}

.form-container {
	width: 1240px;
	max-height: 987px;
	margin: 140px auto 0 auto;
	background-color: $dark-blue;

	.form {
		color: $white;
		padding: 150px 215px 161px;

		&__title {
			font-size: 60px;
			margin-bottom: 64px;
		}

		&__input {
			display: flex;
			margin-bottom: 100px;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 22px;

			input {
				background-color: $white;
				outline: none;
				border: 1px solid;
			}
		}

		&__name {
			padding: 15px 25px;
			font-size: 17px;
			width: 393px;
		}

		&__mail {
			padding: 15px 26px;
			font-size: 17px;
			width: 393px;
		}

		&__message {
			padding: 14px 25px;
			outline: none;
			width: 809px;
			height: 123px;
			resize: none;
			font-size: 21px;
			letter-spacing: -1px;
		}

		&__btn {
			display: flex;
			width: 100%;
			justify-content: end;

			&--item {
				color: $white;
				background-color: $blue;
				border: 1px solid $blue;
				text-transform: uppercase;
				font-size: 14px;
				cursor: pointer;
				padding: 28px 25px 28px 35px;
				line-height: 15px;
				letter-spacing: 11px;
				font-weight: 600;
			}
		}

		&__contact {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 18px;
			padding-top: 6px;
			padding-right: 12px;

			&--mail {
				font-size: 40px;
			}


			&--phone {
				font-size: 32px;
				padding-top: 8px;
			}

			&--info {
				cursor: pointer;
				font-weight: 200;
				font-size: 17px;
				text-decoration: underline;
				text-align: start;
				padding: 27px 26px 0px 0;
			}
		}

		.no-valid {
			border: 2px solid #FB5555;
		}
	}
}

@media all and (max-width: 768px) {
	.header {
		width: 768px;
		height: 65px;

		.btn-menu {
			opacity: 1;
			visibility: visible;
			position: absolute;
			width: 30px;
			height: 30px;
			cursor: pointer;
			margin-right: 45px;
			right: 0;

			span {
				position: absolute;
				background-color: $dark-blue;
				width: 30px;
				height: 2px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: .25s ease-in-out;

				&:nth-of-type(2) {
					top: calc(50% - 9px)
				}

				&:nth-of-type(3) {
					top: calc(50% + 9px)
				}
			}
		}

		.active {
			position: absolute;
			right: 0px;
			top: 19px;
			z-index: 20;

			span {
				&:first-of-type {
					transform: scale(0);
				}

				&:nth-of-type(2) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&:nth-of-type(3) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}

		&__logo {
			width: 22%;
			font-size: 29px;

			&::after {
				opacity: 0;
				visibility: hidden;
			}
		}

		.burger-menu {
			display: none;
			opacity: 0;
			visibility: hidden;
			width: 77%;

			.header-menu {
				width: 100%;
				height: 70%;

				&__btn {
					padding: 14px 64px;
					border: 2px solid #007DFE;
					font-size: 32px;
				}
			}

			.link {
				height: 10%;
				width: 100%;
				display: flex;
				justify-content: center;
				padding: 0;
				gap: 27px;
				align-items: center;

				&__mail {
					width: 40px;
					height: 30px;
				}

				&__facebook {
					width: 22px;
					height: 37px;
				}
			}
		}

		.active-menu {
			opacity: 1;
			visibility: visible;
			position: fixed;
			background-color: #ffff;
			width: 100%;
			left: 0px;
			top: 64px;
			right: 0px;
			bottom: 0px;
			z-index: 12;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.list-active {
			display: flex;
			flex-direction: column;
			font-size: 32px;
			height: 95%;
			justify-content: space-evenly;
		}
	}

	.container {
		width: 768px;
		height: 851px;

		.main {
			padding: 53px 37px 138px 33px;

			&__title {
				width: 394px;
				height: 220px;
			}

			&__icon {
				width: 244px;
				height: 211px;
				margin-left: 60px;
			}

			.btn-bottom {
				bottom: 0px;
				right: 344px;
			}
		}
	}

	.gallery {
		width: 768px;

		&__title {
			font-size: 50px;
			font-weight: 400;
			padding-left: 85px;
			margin-top: 30px;
			margin-bottom: 70px;
		}

		&__photo {
			&--item {
				width: 294px !important;
				height: 311px;
			}
		}

		.swiper {
			max-width: 639px;

			.swiper-button-next {
				opacity: 0;
				visibility: hidden;
			}

			.swiper-button-prev {
				opacity: 0;
				visibility: hidden;
			}

			.swiper-pagination {
				bottom: -107px;
			}
		}
	}

	.form-container {
		width: 768px;

		.form {
			padding: 100px 100px 60px 70px;

			&__title {
				font-size: 50px;
			}

			&__name {
				width: 288px;
			}

			&__mail {
				width: 288px;
			}

			&__btn {
				&--item {
					font-size: 14px;
					padding: 26px 23px 26px 33px;
				}
			}
		}
	}
}

@media all and (max-width: 320px) {
	.header {
		width: 320px;

		&__logo {
			width: 51%;
		}

		.btn-menu {
			right: -15px;
		}

		.active {
			right: -15px;
			top: 17px;
		}

		.active-menu {
			width: 320px;
			height: 100%;
		}

		.list-active {
			font-size: 22px;
		}

		.burger-menu {
			.header-menu {
				&__btn {
					font-size: 22px;
					padding: 8px 29px;
				}
			}

			.link {
				&__mail {
					width: 32px;
					height: 23px;
				}

				&__facebook {
					width: 20px;
					height: 34px;
				}
			}
		}
	}

	.container {
		height: 1220px;
		width: 320px;

		.main {
			padding: 60px 20px 130px;

			&__title {
				width: 280px;
				height: 157px;
				margin-top: 0;
			}

			&__icon {
				width: 237px;
				height: 215px;
				margin-left: 0;
				margin-top: 192px;
			}

			&__btn {
				position: absolute;
				top: 281px;
				margin: 0;
				padding: 25px 20px;
				letter-spacing: 4px;
			}

			.btn-bottom {
				display: none;
			}

			&__text {
				padding-top: 48px;
				margin: 0 auto;
				max-width: 254px;
			}
		}
	}

	.gallery {
		width: 320px;

		&__text {
			height: 82px;
			font-size: 13px;
		}

		.swiper {
			max-width: 280px;
		}

		&__title {
			font-size: 40px;
			padding-left: 30px;
			margin-bottom: 40px;
			margin-top: 7px;
		}

		&__photo {
			&--item {
				width: 280px !important;
				height: 296px;
			}
		}
	}

	.form-container {
		width: 320px;

		.form {
			padding: 76px 30px 62px 20px;

			&__title {
				font-size: 40px;
			}

			&__btn {
				margin-top: 130px;
				justify-content: center;

				&--item {
					letter-spacing: 6px;
					font-size: 12px;
					padding: 24px 50px;
				}
			}

			&__contact {
				padding: 0;

				&--mail {
					font-size: 26px;
					font-weight: 300;
				}

				&--phone {
					font-size: 22px;
					font-weight: 200;
				}

				&--info {
					padding-right: 0;
					padding-top: 16px;
					font-size: 15px;
				}
			}
		}
	}
}